table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

.pokemones-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}